{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!----------------------------- Main Site Section ------------------------------>

    <main>

        <!-- ---------------------- Site Content -------------------------->

        <br><br><br>
        <section class="container">
            <div class="site-content">
                <div class="posts">
                   {% for post in items %}
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="{{ post.image.url }}" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{post.user}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.publishing_date}}</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">{{post.title}}</a>
                            <p>{{post.content|truncatechars:50}}
                            </p>
                            <a href="{{post.get_absolute_url}}" class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <hr>
                   {% endfor %}
           
                  
                </div>
            
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->


 {% endblock %}