{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!----------------------------- Main Site Section ------------------------------>

    <main>

        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Tours & Travels</h3>
                <h1>Amazing Place on Earth</h1>
                <button class="btn">Explore</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->

        <!-- --------------------- Blog Carousel ----------------- -->
        <!-- 
        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="./assets/Blog-post/post-1.jpg" alt="post-1">
                            <div class="blog-title">
                                <h3>London Fashion week's continued the evolution</h3>
                                <button class="btn btn-blog">Fashion</button>
                                <span>2 minutes</span>
                            </div>
                        </div>
               
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ----------x---------- Blog Carousel --------x-------- -->

        <!-- ---------------------- Site Content -------------------------->

        <br><br><br>
        <section class="container">
            <div class="site-content">
                <div class="posts">

                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="img" alt="blog1">
                                {% else %}
                                <br>
                                {% endif %}
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{post.user}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.publishing_date}}</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">{{post.title}}</a>
                            <p>{{post.content}}
                            </p>
                            <!-- <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button> -->
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </section>

        <br><br><hr>
        <h3>Yorum Ekle:</h3>
        {% include 'forms.html' %} 

        <!-- -----------x---------- Site Content -------------x------------>

    </main>

    <h3>Yorumlar:</h3>
    <div>
   {% for comment in post.comments.all %}
       {% if  comment.approved_comment %}
           <div>
              
               <h4 >{{ comment.name }} | <small>{{ comment.created_date|timesince }} önce </small></h4>
   
               {{ comment.content|linebreaks }}
               <br/>
               
           </div>
        
           {% endif %}
       
   {% endfor %}
        


 {% endblock %}